In [10]:
import pandas as pd, geopandas as gpd

In [8]:
# download the data link: https://www.zensus2011.de/SharedDocs/Downloads/DE/Pressemitteilung/DemografischeGrunddaten/xlsx_Bevoelkerung.xlsx?__blob=publicationFile&v=4
df = pd.read_csv('/Users/magio94/Dropbox/Bottom-up/_Tests_area/Data_database/csv_Bevoelkerung/Zensus11_Datensatz_Bevoelkerung.csv', sep =';', low_memory=False)

In [17]:
df

,RS,RS_Land,RS_RB_NUTS2,RS_Kreis,RS_VB,RS_Gem,Name,Reg_Hier,AEWZ,DEM_1.1,...,BIL_4.9,BIL_4.10,BIL_5.1,BIL_5.2,BIL_5.3,BIL_5.4,BIL_5.5,BIL_5.6,BIL_5.7,BIL_5.8
0,0,0,NaN,NaN,NaN,NaN,Deutschland,Bund,80219695,80219695,...,5531480.0,14023530.0,68909110.0,18383890.0,31804990.0,7321610.0,1032940,3985640.0,5471080,908970
1,1,1,NaN,NaN,NaN,NaN,Schleswig-Holstein,Land,2800119,2800119,...,188900.0,432970.0,2399480.0,636280.0,1171190.0,251310.0,31110,126590.0,157620,25380
2,10010000000,1,0.0,1.0,0.0,0.0,"Flensburg, Stadt",Gemeinde,82258,82258,...,6200.0,15260.0,71730.0,22450.0,32210.0,6330.0,/,3370.0,6210,/
3,1001,1,0.0,1.0,NaN,NaN,"Flensburg, Stadt",Stadtkreis/kreisfreie Stadt/Landkreis,82258,82258,...,6200.0,15260.0,71730.0,22450.0,32210.0,6330.0,/,3370.0,6210,/
4,10020000000,1,0.0,2.0,0.0,0.0,"Kiel, Landeshauptstadt",Gemeinde,235782,235782,...,16290.0,59140.0,207060.0,65000.0,82000.0,23290.0,2660,10690.0,19320,4100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12539,160775009051,16,0.0,77.0,5009.0,51.0,Wildenb�rten,Gemeinde,307,307,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12540,160775050,16,0.0,77.0,5050.0,NaN,"G��nitz, Stadt",Gemeindeverband,5463,5463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12541,160775050012,16,0.0,77.0,5050.0,12.0,"G��nitz, Stadt",Gemeinde,3724,3724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12542,160775050017,16,0.0,77.0,5050.0,17.0,Heyersdorf,Gemeinde,138,139,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12543,160775050039,16,0.0,77.0,5050.0,39.0,Ponitz,Gemeinde,1601,1600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
list(df.columns)

['AGS_12',
 'RS_Land',
 'RS_RB_NUTS2',
 'RS_Kreis',
 'RS_VB',
 'RS_Gem',
 'Name',
 'Reg_Hier',
 'AEWZ',
 'DEM_1.1',
 'DEM_1.2',
 'DEM_1.3',
 'DEM_2.1',
 'DEM_2.2',
 'DEM_2.3',
 'DEM_2.4',
 'DEM_2.5',
 'DEM_2.6',
 'DEM_2.7',
 'DEM_2.8',
 'DEM_2.9',
 'DEM_2.10',
 'DEM_2.11',
 'DEM_2.12',
 'DEM_2.13',
 'DEM_2.14',
 'DEM_2.15',
 'DEM_2.16',
 'DEM_2.17',
 'DEM_2.18',
 'DEM_2.19',
 'DEM_2.20',
 'DEM_2.21',
 'DEM_2.22',
 'DEM_2.23',
 'DEM_2.24',
 'DEM_2.25',
 'DEM_2.26',
 'DEM_2.27',
 'DEM_3.1',
 'DEM_3.2',
 'DEM_3.3',
 'DEM_3.4',
 'DEM_3.5',
 'DEM_3.6',
 'DEM_3.7',
 'DEM_3.8',
 'DEM_3.9',
 'DEM_3.10',
 'DEM_3.11',
 'DEM_3.12',
 'DEM_3.13',
 'DEM_3.14',
 'DEM_3.15',
 'DEM_3.16',
 'DEM_3.17',
 'DEM_3.18',
 'DEM_3.19',
 'DEM_3.20',
 'DEM_3.21',
 'DEM_3.22',
 'DEM_3.23',
 'DEM_3.24',
 'DEM_3.25',
 'DEM_3.26',
 'DEM_3.27',
 'DEM_3.28',
 'DEM_3.29',
 'DEM_3.30',
 'DEM_4.1',
 'DEM_4.2',
 'DEM_4.3',
 'DEM_4.4',
 'DEM_4.5',
 'DEM_4.6',
 'DEM_4.7',
 'DEM_4.8',
 'DEM_4.9',
 'DEM_4.10',
 'DEM_4.11',
 'DEM_4.12',
 'DEM_4.13',
 'DEM_4.14',
 'DEM_4.15',
 'DEM_4.16',
 'DEM_4.17',
 'DEM_4.18',
 'DEM_4.19',
 'DEM_4.20',
 'DEM_4.21',
 'DEM_4.22',
 'DEM_4.23',
 'DEM_4.24',
 'DEM_4.25',
 'DEM_4.26',
 'DEM_4.27',
 'DEM_4.28',
 'DEM_4.29',
 'DEM_4.30',
 'DEM_4.31',
 'DEM_4.32',
 'DEM_4.33',
 'DEM_4.34',
 'DEM_4.35',
 'DEM_4.36',
 'DEM_5.1',
 'DEM_5.2',
 'DEM_5.3',
 'DEM_5.4',
 'DEM_5.5',
 'DEM_5.6',
 'DEM_5.7',
 'DEM_6.1',
 'DEM_6.2',
 'DEM_6.3',
 'DEM_6.4',
 'DEM_6.5',
 'DEM_6.6',
 'DEM_6.7',
 'REL_1.1',
 'REL_1.2',
 'REL_1.3',
 'REL_1.4',
 'MIG_1.1',
 'MIG_1.2',
 'MIG_1.3',
 'MIG_1.4',
 'MIG_1.5',
 'MIG_1.6',
 'MIG_1.7',
 'MIG_1.8',
 'MIG_1.9',
 'MIG_1.10',
 'MIG_1.11',
 'MIG_2.1',
 'MIG_2.2',
 'MIG_2.3',
 'MIG_2.4',
 'MIG_2.5',
 'MIG_2.6',
 'MIG_2.7',
 'MIG_2.8',
 'MIG_3.1',
 'MIG_3.2',
 'MIG_3.3',
 'MIG_3.4',
 'MIG_3.5',
 'ERW_1.1',
 'ERW_1.2',
 'ERW_1.3',
 'ERW_1.4',
 'ERW_1.5',
 'ERW_1.6',
 'ERW_1.7',
 'ERW_1.8',
 'ERW_1.9',
 'ERW_1.10',
 'ERW_1.11',
 'ERW_1.12',
 'ERW_1.13',
 'ERW_1.14',
 'ERW_1.15',
 'ERW_2.1',
 'ERW_2.2',
 'ERW_2.3',
 'ERW_2.4',
 'ERW_2.5',
 'ERW_2.6',
 'ERW_3.1',
 'ERW_3.2',
 'ERW_3.3',
 'ERW_3.4',
 'ERW_3.5',
 'ERW_3.6',
 'ERW_3.7',
 'ERW_3.8',
 'ERW_3.9',
 'ERW_3.10',
 'ERW_3.11',
 'ERW_4.1',
 'ERW_4.2',
 'ERW_4.3',
 'ERW_4.4',
 'ERW_4.5',
 'ERW_4.6',
 'ERW_4.7',
 'ERW_4.8',
 'ERW_4.9',
 'ERW_4.10',
 'ERW_4.11',
 'ERW_4.12',
 'ERW_4.13',
 'ERW_4.14',
 'ERW_4.15',
 'BIL_2.1',
 'BIL_2.2',
 'BIL_2.3',
 'BIL_2.4',
 'BIL_3.1',
 'BIL_3.2',
 'BIL_3.3',
 'BIL_3.4',
 'BIL_3.5',
 'BIL_3.6',
 'BIL_3.7',
 'BIL_4.1',
 'BIL_4.2',
 'BIL_4.3',
 'BIL_4.4',
 'BIL_4.5',
 'BIL_4.6',
 'BIL_4.7',
 'BIL_4.8',
 'BIL_4.9',
 'BIL_4.10',
 'BIL_5.1',
 'BIL_5.2',
 'BIL_5.3',
 'BIL_5.4',
 'BIL_5.5',
 'BIL_5.6',
 'BIL_5.7',
 'BIL_5.8']

In [15]:
df['Reg_Hier'].unique()

array(['Bund', 'Land', 'Gemeinde',
       'Stadtkreis/kreisfreie Stadt/Landkreis', 'Gemeindeverband',
       'Regierungsbezirk/NUTS2'], dtype=object)

In [16]:
df.rename(columns={'AGS_12': 'RS'}, inplace=True)

In [11]:
gdf = gpd.read_file('/Users/magio94/Dropbox/Bottom-up/_Tests_area/Data_database/VG250_1Jan2011_WGS84/VG250_Verwaltungsgemeinschaften.shp')

In [12]:
gdf

,OBJECTID,USE,RS,GF,RAU_RS,GEN,DES,AGS,RS_ALT,WIRKSAMKEI,DEBKG_ID,LENGTH,Shape_Leng,Shape_Area,geometry
0,1,6.0,097620000,4.0,097620000000,Kaufbeuren,Stadt (kreisfrei),09762000,097620000000,1972-07-01,DEBKGDL20000E52F,39381.572358,0.446842,0.004865,"POLYGON ((10.63986 47.90656, 10.64150 47.90379..."
1,17,6.0,092780178,4.0,092780178178,Rattenberg,Gemeinde,09278178,092780178178,2009-01-01,DEBKGDL20000E3QO,33548.351532,0.375885,0.003718,"POLYGON ((12.76820 49.11476, 12.76913 49.11432..."
2,19,6.0,092729453,4.0,092729453453,Graineter Wald,Gemeindefreies Gebiet,09272453,092729453453,2009-01-01,DEBKGDL20000DZVM,20222.617275,0.237093,0.000877,"POLYGON ((13.65626 48.81164, 13.65843 48.81284..."
3,23,6.0,010620001,4.0,010620001001,Ahrensburg,Stadt,01062001,010620001001,2009-01-01,DEBKGDL20000E1KG,48332.159758,0.605114,0.004783,"MULTIPOLYGON (((10.28963 53.70468, 10.29319 53..."
4,27,6.0,096719456,4.0,096719456456,Rohrbrunner Forst,Gemeindefreies Gebiet,09671456,096719456456,2009-01-01,DEBKGDL20000E3IC,41005.033373,0.483447,0.004845,"POLYGON ((9.33727 49.91577, 9.33756 49.91626, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4811,1352,5.0,145235122,4.0,145235122300,Oelsnitz/Vogtl.,Verwaltungsgemeinschaft,None,145235122000,2008-08-01,DEBKGDL20000DYM4,96814.480165,1.140436,0.020636,"POLYGON ((12.17666 50.44490, 12.17931 50.44262..."
4812,1353,5.0,145235124,4.0,145235124310,Pausa/Vogtl.,Verwaltungsgemeinschaft,None,145235124000,2008-08-01,DEBKGDL20000E4DO,55984.342995,0.645798,0.008100,"POLYGON ((11.94414 50.59128, 11.94763 50.59315..."
4813,1354,5.0,094765434,4.0,094765434154,Mitwitz,Verwaltungsgemeinschaft,None,094765434000,None,DEBKGDL20000E0EX,42298.941022,0.491116,0.005364,"POLYGON ((11.23357 50.20062, 11.23020 50.20253..."
4814,1355,5.0,160735005,4.0,160735005067,Probstzella-Lehesten-Marktgölitz,Verwaltungsgemeinschaft,None,160735005000,2009-01-01,DEBKGDL20000DYDN,99966.353366,1.169516,0.013945,"POLYGON ((11.42968 50.58456, 11.42994 50.58280..."
4815,1356,5.0,160765052,4.0,160765052022,Greiz,Erfüllende Gemeinde,None,160765052000,2009-01-01,DEBKGDL20000E3GF,54802.974951,0.641743,0.007933,"POLYGON ((12.27995 50.64418, 12.27412 50.64403..."

In [21]:
df['RS'].astype('int')

0                   0
1                   1
2         10010000000
3                1001
4         10020000000
             ...
12539    160775009051
12540       160775050
12541    160775050012
12542    160775050017
12543    160775050039
Name: RS, Length: 12544, dtype: int64

In [22]:
gdf['RS'].astype('int')

0        97620000
1        92780178
2        92729453
3        10620001
4        96719456
          ...
4811    145235122
4812    145235124
4813     94765434
4814    160735005
4815    160765052
Name: RS, Length: 4816, dtype: int64

In [24]:
gdf_merged = gdf.join(df, on='RS', how='inner')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [29]:
df = pd.read_csv(
    '/Users/magio94/Dropbox/Bottom-up/_Tests_area/Data_database/Zensus_Bevoelkerung_100m-Gitter.csv', sep=';')

In [30]:
df

            Gitter_ID_100m  x_mp_100m  y_mp_100m  Einwohner
0         100mN26840E43341    4334150    2684050         -1
1         100mN26840E43342    4334250    2684050         -1
2         100mN26840E43343    4334350    2684050         -1
3         100mN26840E43344    4334450    2684050         -1
4         100mN26840E43345    4334550    2684050         -1
...                    ...        ...        ...        ...
35785835  100mN35514E42195    4219550    3551450         -1
35785836  100mN35514E42196    4219650    3551450         -1
35785837  100mN35514E42197    4219750    3551450         -1
35785838  100mN35514E42198    4219850    3551450         -1
35785839  100mN35514E42199    4219950    3551450         -1

[35785840 rows x 4 columns]

In [ ]:
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.x_mp_100m, df.y_mp_100m))

Exception ignored in: <function BaseGeometry.__del__ at 0x7fa8d4293790>
Traceback (most recent call last):
  File "/Users/magio94/opt/anaconda3/lib/python3.8/site-packages/shapely/geometry/base.py", line 242, in __del__
    self.empty(val=None)
  File "/Users/magio94/opt/anaconda3/lib/python3.8/site-packages/shapely/geometry/base.py", line 224, in empty
    def empty(self, val=EMPTY):
KeyboardInterrupt:
Exception ignored in: <function BaseGeometry.__del__ at 0x7fa8d4293790>
Traceback (most recent call last):
  File "/Users/magio94/opt/anaconda3/lib/python3.8/site-packages/shapely/geometry/base.py", line 242, in __del__
    self.empty(val=None)
  File "/Users/magio94/opt/anaconda3/lib/python3.8/site-packages/shapely/geometry/base.py", line 227, in empty
    self._lgeos.GEOSGeom_destroy(self.__geom__)
KeyboardInterrupt:
Exception ignored in: <function BaseGeometry.__del__ at 0x7fa8d4293790>
Traceback (most recent call last):
  File "/Users/magio94/opt/anaconda3/lib/python3.8/site-packages/shapely/geometry/base.py", line 242, in __del__
    self.empty(val=None)
  File "/Users/magio94/opt/anaconda3/lib/python3.8/site-packages/shapely/geometry/base.py", line 227, in empty
    self._lgeos.GEOSGeom_destroy(self.__geom__)
KeyboardInterrupt:
Exception ignored in: <function BaseGeometry.__del__ at 0x7fa8d4293790>
Traceback (most recent call last):
  File "/Users/magio94/opt/anaconda3/lib/python3.8/site-packages/shapely/geometry/base.py", line 242, in __del__
    self.empty(val=None)
  File "/Users/magio94/opt/anaconda3/lib/python3.8/site-packages/shapely/geometry/base.py", line 227, in empty
    self._lgeos.GEOSGeom_destroy(self.__geom__)
KeyboardInterrupt: